# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
env/
*.egg-info/
*.egg

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db



explain_Exporting_sql.md

archive (3).zip


Superstore_clean.csv


.gitignore
